<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>333153256790-lvvaojgpnuf1p656ckrth70vipf3qneq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333153256790-lvvaojgpnuf1p656ckrth70vipf3qneq</string>
	<key>API_KEY</key>
	<string>AIzaSyASKDpa1L6h_mnQk5i73anoj25sgF0j3DU</string>
	<key>GCM_SENDER_ID</key>
	<string>333153256790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bnc10</string>
	<key>PROJECT_ID</key>
	<string>bnc10-e0626</string>
	<key>STORAGE_BUCKET</key>
	<string>bnc10-e0626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333153256790:ios:6e801bc385fe9b0b</string>
	<key>DATABASE_URL</key>
	<string>https://bnc10-e0626.firebaseio.com</string>
</dict>
</plist>